body {
    background-color: chocolate;
    margin: 0;
}

#menu {
    text-align: right;
    height: 500px;
    padding: 30px;
    background-image: url("banner-film.png");
    background-size: cover;
    font-size: 50px;
}

a {
    padding: 20px;
    color: white;
    text-decoration: none;
    text-shadow: 5px 5px 10px black;
}

    a:hover {
        text-shadow: none;
    }

table {
    width: 100%;
    font-size: 50px;
    text-align: center;
}

#stopka {
    font-size: 20px;
    text-align: right;
    padding: 30px;
    background-color: brown;
}
